@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');

:root {
  --shadow-card: 0px 18px 50px -24px #9d4cccbf;
  --shadow-profile: 0px 30px 80px -46px rgba(157,76,204,0.55);
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: #151312;
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
